.device-view{
    display: flex;
    position: relative;
    left: 20%;
    padding: 30px;
    top: 160px;
    width: 80%;
    flex-flow: wrap;
    align-content: center;
}
.info-alert{
        top: 170px;
        background:#2199e8;
        position: fixed;
        left: 15%;
        width:85%;
        text-align: center;
        color: white;
}
