.readings-pane{
    background: white;
    padding: 10px;
    height: 400px;
    overflow: scroll;
    top: 330px;
    position: relative;
    width: 70%;
    margin-left: -40px;
    table tbody, table tfoot, table thead {
        border: 1px solid #f1f1f1;
        background-color: #fefefe;
        font-size: small;
        line-height: 12px;
    }
}