.readings-form{
    border-top: solid 1px grey;
    padding-top:20px;
    input{
        width:20%;
    }
    button{
        display: inline-block;
        float:left;
        margin-right:15px;
    }
    input{
        display: inline-block;
    }
}