.sidebar{
    background: #2A3F54;
    top:0;
    left:0;
    width:15%;
    height:100%;
    padding-left: 40px;
    color:white;
    position:fixed;
    ul{
        list-style-type: none;
    }
    a{
        padding-left:5px;
        margin-bottom: 20px;
        text-decoration: none;
        font-size: 1em;
        color: #818181;
        display: inline-block;
    }
    a:hover{
        background: aliceblue;
    }
}