.summary-pane{
    height: 160px;
    margin-bottom: 20px;
    padding-top: 20px;
    width: 80%;
    position: fixed;
    left: 20%;
    display: flex;
    justify-content: space-around;
    background: white;
    z-index: 100;
    box-shadow: 5px 2px lightgrey;
    //overflow: hidden;
}